<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <healthMonitoring enabled="true">
      <providers>
        <clear />
        <add name="TraceEventProvider" type="System.Web.Management.TraceWebEventProvider"/>
      </providers>
      <profiles>
        <clear />
        <add name="DefaultProfile" minInstances="1" maxLimit="Infinite" minInterval="00:00:05" />
      </profiles>
      <rules>
        <clear />
        <add name="All Errors" eventName="All Errors" provider="TraceEventProvider" profile="DefaultProfile" />
        <add name="Infrastructure Errors" eventName="Infrastructure Errors" provider="TraceEventProvider" profile="DefaultProfile" />
        <add name="Request Processing Errors" eventName="Request Processing Errors" provider="TraceEventProvider" profile="DefaultProfile" />
        <add name="Custom Errors" eventName="Custom Errors" provider="TraceEventProvider" profile="DefaultProfile" />
        <!--
        <add name="Application Lifetime Events" eventName="Application Lifetime Events" provider="TraceEventProvider" profile="DefaultProfile" />          
        <add name="Failure Audits" eventName="Failure Audits" provider="TraceEventProvider" profile="DefaultProfile" />
        -->
      </rules>
      <eventMappings>
        <clear />
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="Infrastructure Errors" type="System.Web.Management.WebErrorEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="Request Processing Errors" type="System.Web.Management.WebRequestErrorEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="Custom Errors" type="System.Web.Management.WebBaseErrorEvent, System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="100001" endEventCode="2147483647" />
        <!--
        <add name="Application Lifetime Events" type="System.Web.Management.WebApplicationLifetimeEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="Heartbeats" type="System.Web.Management.WebHeartbeatEvent, System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="All Events" type="System.Web.Management.WebBaseEvent, System.Web,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="All Audits" type="System.Web.Management.WebAuditEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />          
        <add name="Failure Audits" type="System.Web.Management.WebFailureAuditEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />                
        <add name="Success Audits" type="System.Web.Management.WebSuccessAuditEvent, System.Web,Version=4.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        <add name="Request Processing Events" type="System.Web.Management.WebRequestEvent, System.Web,Version=4.0.0.0,Culture=neutral,  PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
        -->
      </eventMappings>
    </healthMonitoring>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear/>
        <add name="Default" type="System.Diagnostics.TextWriterTraceListener" initializeData="error.log"/>        
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>